@media screen and (max-width: 2500px) {
  .ui-wrapper {
    position: relative;
  }
  .silde {
    position: absolute;
    width: 157px;
    height: 2731px;
    left: 50%;
    margin-left: -952px;
    bottom: 222px;
    z-index: 9;
    background: url(../img/text.png) left top / 100% 100% no-repeat;
  }
  .ui-header {
    width: 100%;
    min-width: 1180px!important;
    height: 126px;
    top: 0;
    right: 0;
    z-index: 99;
    background: #fff;
  }
  .ui-header.fixed {
    position: fixed;
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
  }
  .ui-header .header-box {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ui-header .header-box .logo {
    display: block;
    width: 127px;
    height: 48px;
  }
  .ui-header .header-box .nav-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .ui-header .header-box .nav-box .nav-item {
    margin: 0 0 0 100px;
    font-size: 20px;
    
    color: #1C2436;
    line-height: 27px;
  }
  .ui-header .header-box .nav-box .nav-item:hover {
    color: #135DFF;
  }
  .ui-header .header-box .nav-box button {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
  }
  .banner-box {
    margin-top: 162px;
    width: 100%;
    height: 844px;
    background: url(../img/bg1.png) center center / cover no-repeat;
  }
  .banner-box .info-wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .banner-box .info-box {
    position: absolute;
    left: 0;
    padding: 44px 0 14px 0;
  }
  .banner-box .info-box::after {
    position: absolute;
    left: 0;
    bottom: -9px;
    content: '';
    display: block;
    width: 78px;
    height: 9px;
    background: #135DFF;
  }
  .banner-box .info-box .fsv {
    font-size: 77px;
    font-weight:  600;
    font-weight: normal;
    color: #1C2436;
    line-height: 97px;
  }
  .banner-box .info-box .world_first {
    font-size: 77px;
    font-weight:  600;
    font-weight: normal;
    color: #1C2436;
    line-height: 97px;
  }
  .banner-box .info-box .base_on_ipfs {
    font-size: 36px;
    font-weight:  600;
    color: #1C2436;
    line-height: 97px;
    letter-spacing: 1px;
  }
  .section-title-box .title {
    font-size: 60px;
    font-weight:  600;
    font-weight: normal;
    color: #1C2436;
    line-height: 97px;
  }
  .section-title-box .sub-title {
    font-size: 16px;
    font-weight:  600;
    color: #005BFF;
    line-height: 18px;
  }
  .section1 {
    padding: 168px 0 11px 0;
    position: relative;
  }
  .section1::before {
    content: '';
    display: block;
    position: absolute;
    width: 733px;
    height: 1470px;
    background: url(../img/circle1.png) center center / 100% 100% no-repeat;
    top: 177px;
    left: 50%;
    margin-left: -952px;
    z-index: -1;
  }
  .section1::after {
    content: '';
    display: block;
    position: absolute;
    width: 560px;
    height: 422px;
    background: url(../img/line3.png) center center / 100% 100% no-repeat;
    top: 478px;
    right: 50%;
    margin-right: -952px;
    z-index: -1;
  }
  .section1 .main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .section1 .main::before {
    content: '';
    display: block;
    position: absolute;
    width: 472px;
    height: 511px;
    background: url(../img/circle2.png) left bottom / 472px 511px no-repeat;
    bottom: 0;
    left: 50%;
    margin-left: -580px;
  }
  .section1 .text-box {
    background: rgba(255, 255, 255, 0.96);
    -webkit-box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    border-radius: 60px;
    padding: 78px 60px;
    font-size: 18px;
    
    color: #5E6370;
    line-height: 66px;
  }
  .section1 .text-li-box {
    width: 683px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.96);
    -webkit-box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    border-radius: 60px;
    padding: 64px 83px;
  }
  .section1 .text-li-box .text-li-title {
    font-size: 30px;
    font-weight:  600;
    color: #5E6370;
    line-height: 68px;
  }
  .section1 .text-li-box .li {
    position: relative;
    font-size: 20px;
    
    color: #5E6370;
    line-height: 50px;
    padding: 0 0 0 23px;
  }
  .section1 .text-li-box .li::before {
    position: absolute;
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/li2.png) center center / 100% 100% no-repeat;
    left: 0;
    top: 19px;
  }
  .section1 .text-li-box .li:not(:last-child) {
    margin-bottom: 30px;
  }
  .section1 .text-li-box.bg-blue-box {
    margin-top: -137px;
    width: 700px;
    height: 668px;
    background: url(../img/box1.png) center center / 100% 100% no-repeat;
  }
  .section1 .text-li-box.bg-blue-box .text-li-title {
    color: #FFFFFF;
  }
  .section1 .text-li-box.bg-blue-box .li {
    padding: 0 23px 0 0;
    color: #ffffff;
  }
  .section1 .text-li-box.bg-blue-box .li::before {
    position: absolute;
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/li1.png) center center / 100% 100% no-repeat;
    left: auto;
    right: 0!important;
    top: 19px;
  }
  .section2 {
    padding: 239px 0 136px 0;
    position: relative;
  }
  .section2::before {
    content: '';
    display: block;
    position: absolute;
    width: 480px;
    height: 810px;
    background: url(../img/circle3.png) center center / 100% 100% no-repeat;
    top: 1440px;
    right: 50%;
    margin-right: -952px;
    z-index: -1;
  }
  .section2 .main {
    width: 1220px;
    padding: 0 0 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
  }
  .section2 .text-box {
    margin-bottom: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 29px 38px 43px;
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(#B8CEFF), to(rgba(255, 255, 255, 0.94)));
    background: linear-gradient(180deg, #B8CEFF 0%, rgba(255, 255, 255, 0.94) 100%);
    -webkit-box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    border-radius: 46px;
  }
  .section2 .text-box .pic {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: -1;
  }
  .section2 .text-box .text-box-title {
    font-size: 20px;
    font-weight:  600;
    color: #1C2436;
    line-height: 68px;
    position: relative;
    display: inline-block;
    padding: 0 0 0 21px;
  }
  .section2 .text-box .text-box-title::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 26px;
    width: 16px;
    height: 16px;
  }
  .section2 .text-box .text-box-content {
    font-size: 16px;
    
    color: #5E6370;
    line-height: 44px;
  }
  .section2 .text-box.ipfs {
    width: 352px;
    height: 272px;
    text-align: right;
  }
  .section2 .text-box.ipfs .pic {
    top: 122px;
    right: -150px;
  }
  .section2 .text-box.ipfs .text-box-title {
    padding: 0 0 0 21px;
  }
  .section2 .text-box.ipfs .text-box-title::before {
    left: 0;
    background: url(../img/i1.png) center center / 100% 100% no-repeat;
  }
  .section2 .text-box.ipfs .text-box-content {
    text-align: left;
  }
  .section2 .text-box.nft {
    width: 559px;
    height: 272px;
  }
  .section2 .text-box.nft .pic {
    top: 122px;
    left: -150px;
  }
  .section2 .text-box.nft .text-box-title {
    padding: 0 0 0 21px;
  }
  .section2 .text-box.nft .text-box-title::before {
    left: 0;
    background: url(../img/i2.png) center center / 100% 100% no-repeat;
  }
  .section2 .text-box.route {
    width: 519px;
    height: 272px;
    text-align: right;
  }
  .section2 .text-box.route .pic {
    top: 122px;
    right: -150px;
  }
  .section2 .text-box.route .text-box-title {
    padding: 0 0 0 21px;
  }
  .section2 .text-box.route .text-box-title::before {
    left: 0;
    background: url(../img/i3.png) center center / 100% 100% no-repeat;
  }
  .section2 .text-box.route .text-box-content {
    text-align: left;
  }
  .section2 .text-box.cdn {
    width: 352px;
    height: 272px;
  }
  .section2 .text-box.cdn .pic {
    top: 122px;
    left: -150px;
  }
  .section2 .text-box.cdn .text-box-title::before {
    background: url(../img/i4.png) center center / 100% 100% no-repeat;
  }
  .section2 .main2 {
    width: 1240px;
    margin: 0 auto;
    padding: 0 0 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 264px;
  }
  .section2 .text-li-box {
    position: relative;
    margin-top: 75px;
    width: 1076px;
    height: 449px;
    background: rgba(255, 255, 255, 0.96);
    -webkit-box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    border-radius: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 55px 95px 42px 375px;
  }
  .section2 .text-li-box .li {
    font-size: 16px;
    
    color: #5E6370;
    line-height: 28px;
    padding: 8px 0;
    position: relative;
    padding-left: 29px;
  }
  .section2 .text-li-box .li::before {
    font-size: 16px;
    font-weight:  600;
    color: #005BFF;
    line-height: 28px;
    display: block;
    position: absolute;
    left: 0;
  }
  .section2 .text-li-box .li:nth-child(1)::before {
    content: '01';
  }
  .section2 .text-li-box .li:nth-child(2)::before {
    content: '02';
  }
  .section2 .text-li-box .li:nth-child(3)::before {
    content: '03';
  }
  .section2 .text-li-box .li:nth-child(4)::before {
    content: '04';
  }
  .section2 .text-li-box .li:nth-child(5)::before {
    content: '05';
  }
  .section2 .text-li-box .li:nth-child(6)::before {
    content: '06';
  }
  .section2 .text-li-box .li:nth-child(7)::before {
    content: '07';
  }
  .section2 .text-li-box .li:nth-child(8)::before {
    content: '08';
  }
  .section2 .text-li-box .pic-left {
    position: absolute;
    width: 434px;
    height: 344px;
    top: 55px;
    left: -145px;
  }
  .section3 {
    padding: 136px 0 199px 0;
  }
  .section3 .main {
    width: 1260px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .section3 .line-box {
    margin-left: 30px;
    position: relative;
    height: 570px;
    width: 100%;
    padding: 200px 0 0 0;
  }
  .section3 .line-box .line-pic {
    width: 1170px;
    height: 338px;
    display: block;
    margin-left: auto;
  }
  .section3 .line-box .history-item {
    position: absolute;
    font-size: 16px;
    
    color: #1C2436;
    line-height: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.96);
    -webkit-box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    border-radius: 30px;
    border: 1px solid #005BFF;
  }
  .section3 .line-box .history-item::before {
    position: absolute;
    display: block;
    font-size: 32px;
    font-family: DIN-BlackItalic, DIN;
    font-weight: normal;
    color: #005BFF;
    line-height: 39px;
    top: -39px;
    left: 30px;
  }
  .section3 .line-box .history-item1 {
    top: 180px;
    left: 0;
    width: 272px;
    padding: 15px 22px 15px 30px;
  }
  .section3 .line-box .history-item1::before {
    content: '2018.10';
  }
  .section3 .line-box .history-item2 {
    top: 124px;
    left: 410px;
    width: 267px;
    padding: 37px 15px;
    text-align: center;
  }
  .section3 .line-box .history-item2::before {
    content: '2019.09';
  }
  .section3 .line-box .history-item3 {
    top: 39px;
    right: 176px;
    width: 249px;
    padding: 37px 15px;
    text-align: center;
  }
  .section3 .line-box .history-item3::before {
    content: '2021.03';
  }
  .section3 .line-box .history-item4 {
    bottom: 0;
    left: 208px;
    width: 277px;
    padding: 21px 15px;
    text-align: center;
  }
  .section3 .line-box .history-item4::before {
    content: '2019.03';
  }
  .section3 .line-box .history-item5 {
    bottom: 133px;
    left: 629px;
    width: 186px;
    padding: 37px 15px;
    text-align: center;
  }
  .section3 .line-box .history-item5::before {
    content: '2020.06';
  }
  .section3 .line-box .history-item6 {
    bottom: 254px;
    right: 0;
    width: 167px;
    padding: 37px 15px;
    text-align: center;
  }
  .section3 .line-box .history-item6::before {
    content: '2021.07';
  }
  .section3 .img-boxs {
    margin-top: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .section3 .img-boxs .img-box {
    width: 404px;
  }
  .section3 .img-boxs .img-box .pic-top {
    display: block;
    width: 100%;
    height: 244px;
  }
  .section3 .img-boxs .img-box .pic-bottom {
    display: block;
    width: 180px;
    height: 56px;
    margin: -8px auto 0;
  }
  .section3 .route-box {
    margin: 262px 25px 0 25px;
    height: 842px;
    position: relative;
  }
  .section3 .route-box .pic-box {
    position: relative;
    width: 1211px;
    height: 614px;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../img/line2.png) top left / 100% 100% no-repeat;
  }
  .section3 .route-box .section-title-box {
    position: absolute;
    text-align: right;
  }
  .section3 .route-box .route-item {
    position: absolute;
    min-width: 310px;
    min-height: 250px;
    padding: 21px 10px 21px 50px;
    background: rgba(255, 255, 255, 0.96);
    -webkit-box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 39px -19px rgba(3, 34, 76, 0.34);
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .section3 .route-box .route-item.no-shadow {
    background: #FDFDFD;
    border: 1px solid #BEC5C8;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .section3 .route-box .route-item.square-item {
    min-height: 178px;
    padding: 21px 77px 21px;
  }
  .section3 .route-box .route-item .time {
    font-size: 22px;
    font-weight:  600;
    color: #005BFF;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .section3 .route-box .route-item .content {
    font-size: 14px;
    
    color: #1C2436;
    line-height: 28px;
  }
  .section3 .route-box .route-item1 {
    left: 0;
    top: 0;
  }
  .section3 .route-box .route-item2 {
    left: 425px;
    top: 0;
  }
  .section3 .route-box .route-item3 {
    left: 220px;
    top: 333px;
  }
  .section3 .route-box .route-item4 {
    left: 0;
    bottom: 0;
  }
  .section3 .route-box .route-item5 {
    left: 425px;
    bottom: 0;
  }
  .section3 .route-box .route-item6 {
    right: 51px;
    bottom: 0;
  }
  .ui-footer {
    height: 300px;
    position: relative;
    background: #FDFDFD;
  }
  .ui-footer::after {
    width: 490px;
    height: 160px;
    content: '';
    display: block;
    position: absolute;
    background: url(../img/circle4.png) right bottom / 490px 160px no-repeat;
    right: 50%;
    margin-right: -952px;
    z-index: 0;
    bottom: 0;
  }
  .ui-footer .footer-box {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ui-footer .left-box .logo {
    display: block;
    width: 129px;
    height: 48px;
    margin-bottom: 25px;
  }
  .ui-footer .left-box .btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  .ui-footer .left-box .btns .btn {
    width: 150px;
    height: 46px;
    border-radius: 16px;
    border: 1px solid #135DFF;
    font-size: 14px;
    color: #135DFF;
    line-height: 44px;
    text-align: center;
  }
  .ui-footer .left-box .btns .btn:first-child {
    background: #fff;
    color: #135DFF;
  }
  .ui-footer .left-box .btns .btn:last-child {
    background: #135DFF;
    color: #fff;
  }
  .ui-footer .left-box .btns .btn:not(:last-child) {
    margin-right: 20px;
  }
  .ui-footer .right-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -webkit-justify-content: right;
    -ms-flex-pack: right;
    justify-content: right;
  }
  .ui-footer .right-box .ul:not(:first-child) {
    margin-left: 100px;
  }
  .ui-footer .right-box .ul a {
    display: block;
    font-size: 14px;
    
    color: #1C2436;
    line-height: 20px;
  }
  .ui-footer .right-box .ul a:not(:last-child) {
    margin-bottom: 10px;
  }
  .ui-footer .right-box .ul a.title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .en .banner-box .info-box {
    padding: 44px 0 27px 0;
  }
  .en .banner-box .info-box .base_on_ipfs {
    max-width: 573px;
    font-size: 32px;
    line-height: 60px;
  }
  .en .section1 .text-box {
    line-height: 46px;
    padding: 26px 60px;
  }
  .en .section1 .text-li-box {
    padding: 64px 60px 89px 60px;
  }
  .en .section1 .text-li-box .li {
    font-size: 18px;
    line-height: 34px;
  }
  .en .section1 .text-li-box .li::before {
    top: 11px;
  }
  .en .section1 .text-li-box.bg-blue-box {
    padding: 55px 68px 60px 69px;
  }
  .en .section2 .main .section-title-box {
    max-width: 664px;
    line-height: 80px;
  }
  .en .section2 .text-box .text-box-title::before {
    top: 7px;
  }
  .en .section2 .text-box .text-box-title {
    line-height: 30px;
    margin-bottom: 8px;
  }
  .en .section2 .text-box .text-box-content {
    font-size: 14px;
    line-height: 30px;
  }
  .en .section2 .text-box.ipfs {
    width: 390px;
    padding: 27px 31px 20px 25px;
  }
  .en .section2 .text-box.ipfs .text-box-title {
    width: 236px;
  }
  .en .section2 .text-box.ipfs .text-box-content {
    text-align: right;
  }
  .en .section2 .text-box.nft {
    padding: 30px 40px 20px 40px;
  }
  .en .section2 .text-box.route .text-box-content {
    text-align: right;
  }
  .en .section2 .text-box.cdn {
    width: 392px;
  }
  .en .section2 .text-li-box {
    padding: 35px 32px 34px 330px;
  }
  .en .section2 .text-li-box .li {
    font-size: 14px;
  }
  .en .section3 .line-box .history-item {
    text-align: left;
  }
  .en .section3 .line-box .history-item::before {
    top: -33px;
  }
  .en .section3 .line-box .history-item1 {
    width: 280px;
    padding: 12px 15px;
  }
  .en .section3 .line-box .history-item2 {
    width: 251px;
    padding: 9px 30px;
  }
  .en .section3 .line-box .history-item3 {
    width: 255px;
    padding: 9px 30px;
  }
  .en .section3 .line-box .history-item4 {
    width: 286px;
    padding: 18px 28px;
  }
  .en .section3 .line-box .history-item5 {
    width: 194px;
    padding: 9px 28px;
  }
  .en .section3 .line-box .history-item6 {
    padding: 23px;
  }
  .en .section3 .route-box {
    height: 862px;
  }
  .en .section3 .route-box .route-item {
    max-width: 440px;
    padding: 31px 25px;
    min-height: 270px;
  }
  .en .section3 .route-box .route-item2 {
    left: 510px;
  }
  .en .section3 .route-box .pic-box {
    background: url(../img/line2-en.png) top left / 100% 100% no-repeat;
  }
  .en .section3 .route-box .route-item.square-item {
    padding: 13px 30px;
    min-height: auto;
  }
  .en .section3 .route-box .route-item4 {
    width: 394px;
    padding: 17px 18px;
  }
  .en .section3 .route-box .route-item5 {
    max-width: 282px;
    min-width: 282px;
    padding: 30px 18px;
    left: 448px;
  }
  .en .section3 .route-box .route-item6 {
    width: 400px;
    padding: 17px 16px;
    right: 31px;
  }
  .en .ui-footer .left-box .btns .btn {
    width: 185px;
  }
  .en .top-224 {
    top: 270px;
  }
  .ui-wrapper,
  .section1,
  .section2,
  .section3,
  .ui-footer {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1550px) {
  .ui-wrapper,
  .section1,
  .section2,
  .section3,
  .ui-footer {
    overflow-x: hidden;
  }
  .section2 .main {
    width: 1000px;
  }
  .section2 .main {
    padding: 0;
  }
  .section3 .line-box {
    margin-left: 0;
  }
  .section2 .main2 {
    padding: 0;
  }
}
@media screen and (max-width: 1340px) {
  .banner-box {
    height: 800px;
  }
  .section1 .main,
  .section2 .main2,
  .section3 .main {
    width: 1100px;
  }
  .section2 .main {
    width: 970px;
  }
  .section2 .text-li-box {
    width: 1000px;
  }
  .section2 .text-li-box .li {
    line-height: 26px;
  }
  .section2 .text-li-box .li::before {
    line-height: 26px;
  }
  .section3 .line-box .line-pic {
    width: 1100px;
    height: auto;
  }
  .section3 .line-box .history-item3 {
    right: 100px;
  }
  .section3 .route-box .pic-box {
    width: 1100px;
  }
  .en .top-224,
  .top-224 {
    top: 290px;
  }
  .en .right-127,
  .right-127 {
    right: 30px;
  }
  .section3 .route-box .route-item4,
  .section3 .route-box .route-item1 {
    left: -90px;
  }
  .en .section3 .route-box .route-item5,
  .section3 .route-box .route-item5 {
    left: 390px;
  }
  .en .section3 .route-box .route-item6,
  .section3 .route-box .route-item6 {
    right: -100px;
  }
}
@media screen and (max-width: 1270px) {
  .section2 .main {
    width: 850px!important;
  }
  .abs-l {
    left: -100px !important;
  }
  .section2 .text-li-box {
    width: 990px;
  }
  .section2 .text-li-box .pic-left {
    left: -125px;
  }
  .section3 .route-box .route-item4,
  .section3 .route-box .route-item1 {
    left: -50px;
  }
  .en .section3 .route-box .route-item6,
  .section3 .route-box .route-item6 {
    right: -55px;
  }
  .ui-footer .footer-box {
    width: 1150px;
  }
  .ui-footer .right-box ul:not(:first-child) {
    margin-left: 80px;
  }
}
@media screen and (max-width: 1180px) {
  .ui-wrapper {
    min-width: 1180px;
  }
  .section1 {
    overflow-y: hidden;
  }
  .section1 .main {
    overflow: hidden;
  }
  .ui-header .header-box {
    width: 1000px;
  }
  .ui-header .header-box .nav-box .nav-item {
    margin: 0 0 0 80px;
  }
  .en .ui-header .header-box .nav-box .nav-item {
    margin: 0 0 0 70px;
  }
  .section1 .main,
  .section2 .main2,
  .section3 .main {
    width: 1000px;
  }
  .section2 .main {
    width: 750px!important;
  }
  .banner-box {
    height: 730px;
  }
  .banner-box .info-box .world_first,
  .banner-box .info-box .fsv {
    font-size: 60px;
    line-height: 72px;
  }
  .banner-box .info-box .base_on_ipfs {
    font-size: 30px;
    line-height: 72px;
  }
  .banner-box .info-box {
    margin-left: 75px;
  }
  .section-title-box .title {
    font-size: 50px;
    line-height: 55px;
  }
  .section1 .text-box,
  .en .section1 .text-box {
    padding: 55px 30px;
    line-height: 55px;
  }
  .section1 .text-li-box,
  .en .section1 .text-li-box {
    width: 615px;
    padding: 35px 65px;
  }
  .section1 .text-li-box.bg-blue-box {
    width: 650px;
    height: auto;
  }
  .top-112 {
    top: 66px;
  }
  .pr-180 {
    padding-right: 155px!important;
  }
  .section1 .text-li-box .li {
    line-height: 40px;
  }
  .section1 .text-li-box .li:not(:last-child) {
    margin-bottom: 15px;
  }
  .section2 .text-li-box,
  .en .section2 .text-li-box {
    width: 930px;
    padding: 36px 51px 30px 390px;
  }
  .en .section2 .text-li-box {
    height: 520px;
  }
  .section2 .text-li-box .pic-left {
    left: -75px;
  }
  .section3 .line-box {
    height: 500px;
  }
  .section3 .line-box .line-pic {
    width: 1000px;
  }
  .section3 .line-box .history-item2 {
    left: 350px;
  }
  .section3 .route-box .pic-box {
    width: 1000px;
  }
  .section3 .route-box .route-item {
    min-width: 275px;
    padding: 21px 10px 21px 20px;
  }
  .en .section3 .route-box .route-item5,
  .section3 .route-box .route-item5 {
    left: 347px;
  }
  .ui-footer .footer-box {
    width: 1050px;
  }
  .en .section3 .route-box .route-item4 {
    width: 370px;
  }
  .en .section3 .route-box .route-item6 {
    right: -74px;
    width: 388px;
  }
  .en .section3 .route-box .route-item4,
  .en .section3 .route-box .route-item1 {
    left: -67px;
  }
  .en .section3 .route-box .route-item5 {
    left: 355px;
    max-width: 258px;
    min-width: 258px;
    padding: 16px 15px;
  }
  .section3 .route-box .route-item3 {
    left: 185px;
  }
  .ui-footer .right-box .ul:not(:first-child) {
    margin-left: 50px!important;
  }
}
@media screen and (max-width: 750px) {
  .ui-footer .right-box .ul:not(:first-child) {
    margin-left: 0!important;
  }
  .ui-wrapper {
    min-width: 100%;
  }
  .nav-toggle-box {
    position: absolute;
    right: 15px;
    width: 20px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
  }
  .nav-toggle {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #005BFF;
    transition-property: background-color, -webkit-transform;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  .nav-toggle::before,
  .nav-toggle::after {
    content: '';
    display: block;
    width: 100%;
    height: inherit;
    position: absolute;
    background: #005BFF;
    transition-property: margin, -webkit-transform;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  .nav-toggle::before {
    margin-top: -8px;
  }
  .nav-toggle::after {
    margin-top: 8px;
  }
  .nav-toggle-box.active .nav-toggle {
    background: transparent;
  }
  .nav-toggle-box.active .nav-toggle::before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle-box.active .nav-toggle::after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .ui-header .header-box,
  .banner-box .info-wrap {
    width: 100%;
    position: relative;
  }
  .main {
    width: 100%!important;
  }
  .main2 {
    width: 100%!important;
  }
  .ui-wrapper,
  .section1,
  .section2,
  .section3 {
    overflow-x: auto;
  }
  .ui-header {
    height: 50px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    min-width: 100%!important;
  }
  .ui-header .header-box {
    position: relative;
  }
  .ui-header .header-box .logo {
    width: 100px;
    height: auto;
    margin: 0 0 0 15px;
  }
  .ui-header .header-box .nav-box {
    position: absolute;
    top: 50px;
    display: block;
    background: #fff;
    width: 100%;
    display: none;
    z-index: 9;
  }
  .ui-header .header-box .active ~ .nav-box {
    display: block;
  }
  .en .ui-header .header-box .nav-box .nav-item,
  .ui-header .header-box .nav-box .nav-item,
  .ui-header .header-box .nav-box .nav-item.nav-item_active {
    display: block;
    margin: 0 0 0 15px;
    font-size: 14px;
    line-height: 46px;
    color: #333 !important;
  }
  .ui-content {
    margin-top: 50px;
  }
  .banner-box {
    margin: 0;
    height: 250px;
  }
  .en .banner-box .info-box,
  .banner-box .info-box {
    padding: 20px 15px 10px 15px;
  }
  .banner-box .info-box .fsv,
  .banner-box .info-box .world_first {
    font-size: 20px;
    line-height: 30px;
  }
  .en .banner-box .info-box .base_on_ipfs,
  .banner-box .info-box .base_on_ipfs {
    width: 200px;
    font-size: 15px;
    line-height: 18px;
  }
  .banner-box .info-box::after {
    left: 15px;
    bottom: 0px;
    width: 50px;
    height: 4px;
  }
  .section1::before,
  .section1::after,
  .section2::before,
  .section1 .main::before {
    display: none;
  }
  .section-title-box {
    max-width: 90%!important;
    position: unset!important;
    margin: 0 auto!important;
    text-align: center!important;
  }
  .section-title-box .sub-title {
    text-align: center!important;
  }
  .section-title-box .title {
    text-align: center!important;
    font-size: 25px;
    line-height: 30px;
  }
  .section1 {
    padding: 70px 0 0 0;
  }
  .en .section1 .text-box,
  .section1 .text-box {
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px auto 0;
    line-height: 24px;
    font-size: 16px;
    padding: 20px 10px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34);
  }
  .section1 .main-item2 .section-title-box {
    position: relative!important;
    top: 0!important;
  }
  .mt-280 {
    margin-top: 70px!important;
  }
  .en .section1 .text-li-box,
  .section1 .text-li-box {
    padding: 20px 15px!important;
    width: 90%!important;
    margin: 20px auto 0!important;
    border-radius: 8px!important;
    -webkit-box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34) !important;
    box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34) !important;
  }
  .section1 .text-li-box .text-li-title {
    text-align: left!important;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
  }
  .en .section1 .text-li-box .li,
  .section1 .text-li-box .li {
    text-align: left!important;
    padding: 0 0 0 23px!important;
    font-size: 14px;
    line-height: 24px;
  }
  .en .section1 .text-li-box .li::before,
  .section1 .text-li-box .li::before {
    top: 6px;
    left: 0!important;
    right: auto!important;
  }
  .section1 .text-li-box .li:not(:last-child) {
    margin-bottom: 20px;
  }
  .en .section1 .text-li-box.bg-blue-box,
  .section1 .text-li-box.bg-blue-box {
    height: auto;
    background: url(../img/box1.png) center center / cover no-repeat;
  }
  .section2 {
    padding: 70px 0 0 0;
  }
  .section2 .main {
    width: 100%!important;
  }
  .en .section2 .text-box,
  .section2 .text-box {
    width: 100%!important;
    padding: 0!important;
    border-radius: 0!important;
    text-align: left!important;
    height: auto!important;
    margin: 0 auto!important;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .en .section2 .text-box:first-child,
  .section2 .text-box:first-child {
    margin-top: 20px!important;
  }
  .section2 .text-box .txt {
    width: 90%!important;
    padding: 20px 15px!important;
    border-radius: 8px!important;
    text-align: left!important;
    height: auto!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px auto 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#B8CEFF), to(rgba(255, 255, 255, 0.94)));
    background: linear-gradient(180deg, #B8CEFF 0%, rgba(255, 255, 255, 0.94) 100%);
    -webkit-box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34) !important;
    box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34) !important;
  }
  .en .section2 .text-box .text-box-content,
  .section2 .text-box .text-box-content {
    text-align: left!important;
  }
  .section2 .text-box .pic {
    width: 75%;
    height: auto;
    position: unset!important;
    -webkit-transform: none!important;
    transform: none!important;
    margin: 10px auto 0;
    display: block;
  }
  .section2 .main2 {
    margin: 0!important;
    padding: 70px 0 30px 0!important;
  }
  .section2 .text-li-box .pic-left {
    position: unset;
  }
  .section2 .text-li-box .li {
    padding: 4px 0 4px 25px;
  }
  .section2 .text-li-box {
    width: 100%;
    padding: 0!important;
    margin: 0 auto;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
  .section2 .text-li-box .lis {
    width: 90%!important;
    padding: 15px 20px!important;
    margin: 20px auto 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .en .section2 .text-li-box .li,
  .section2 .text-li-box .li,
  .section2 .text-li-box .li::before {
    line-height: 20px;
  }
  .section2 .text-box .text-box-title,
  .en .section2 .text-box .text-box-title {
    line-height: 26px;
  }
  .section2 .text-box .text-box-title::before,
  .en .section2 .text-box .text-box-title::before {
    top: 5px;
  }
  .en .section2 .text-box .text-box-content,
  .section2 .text-box .text-box-content {
    line-height: 24px;
  }
  .section2 .text-li-box .pic-left {
    width: 90%;
    height: auto;
    display: block;
    margin: 10px auto 0;
  }
  .section3 {
    padding: 50px 0 0 0;
  }
  .section3 .line-box {
    padding: 20px 0 0 0;
    height: auto;
  }
  .section3 .line-box .pic-box {
    display: none;
  }
  .section3 .line-box .history-item {
    position: relative!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    margin: 40px auto 0!important;
    width: 90%!important;
    padding: 15px 20px;
    border-radius: 8px;
    text-align: left!important;
    -webkit-box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34);
    box-shadow: 0px 10px 25px -5px rgba(3, 34, 76, 0.34);
    font-size: 14px;
    line-height: 24px;
  }
  .section3 .line-box .history-item::before {
    font-size: 25px;
  }
  .en .section3 .line-box .history-item::before,
  .section3 .line-box .history-item::before {
    top: -30px;
  }
  .section3 .img-boxs {
    margin-top: 20px;
    display: block;
  }
  .section3 .img-boxs .img-box {
    width: 90%;
    margin: 0 auto 20px;
  }
  .section3 .img-boxs .img-box .pic-top {
    height: auto;
  }
  .section3 .img-boxs .img-box .pic-bottom {
    width: 40%;
    height: auto;
    margin: -30px auto 0;
  }
  .en .section3 .route-box,
  .section3 .route-box {
    height: auto;
    margin: 70px auto 0;
  }
  .section3 .route-box .pic-box {
    display: none;
  }
  .section3 .route-box .route-item {
    position: unset!important;
    width: 90%!important;
    max-width: 90%!important;
    min-width: 90%!important;
    margin: 20px auto 0!important;
    border-radius: 8px!important;
    padding: 15px 20px!important;
    min-height: auto;
  }
  .section3 .route-box .route-item .time {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
  }
  .section3 .route-box .route-item .content {
    line-height: 24px;
  }
  .silde {
    display: none;
  }
  .ui-footer {
    height: auto;
    padding: 20px 0;
    background: #fff;
    margin: 30px 0 0 0;
  }
  .ui-footer .footer-box {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .ui-footer::after {
    display: none;
  }
  .ui-footer .footer-box .left-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ui-footer .left-box .logo {
    margin-bottom: 0;
  }
  .ui-footer .left-box .btns {
    display: block;
  }
  .ui-footer .left-box .btns .btn {
    display: block!important;
    font-size: 12px;
    width: 160px;
    height: 36px;
    line-height: 36px;
    border-radius: 8px;
    margin-right: 0!important;
  }
  .ui-footer .left-box .btns .btn:first-child {
    margin-bottom: 8px;
  }
  .ui-footer .right-box {
    display: block;
    line-height: 30px;
  }
  .ui-footer .right-box .title {
    line-height: 46px;
    display: block;
    position: relative;
  }
  .ui-footer .right-box .title::before {
    content: '';
    display: block;
    width: 14px;
    height: 1px;
    right: 0;
    top: 23px;
    position: absolute;
    background: #135DFF;
    transition-property: display, -webkit-transform;
    -webkit-transition-property: display, -webkit-transform;
    transition-property: display, transform;
    transition-property: display, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .ui-footer .right-box .title::after {
    content: '';
    display: block;
    width: 14px;
    height: 1px;
    right: 0;
    top: 23px;
    position: absolute;
    background: #135DFF;
    transition-property: display, -webkit-transform;
    -webkit-transition-property: display, -webkit-transform;
    transition-property: display, transform;
    transition-property: display, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  .ui-footer .right-box .title.active::before {
    display: none;
  }
  .ui-footer .right-box ul:not(:first-child) {
    margin-left: 0;
  }
  .footer-box .right-box .sub-title {
    display: none;
  }
  .footer-box .right-box .title.active ~ .sub-title {
    display: block;
  }
  .footer-box .right-box .sub-title a {
    display: block;
    font-size: 13px;
    line-height: 30px;
  }
  .ul a.title {
    margin-bottom: 0!important;
    line-height: 46px!important;
  }
}
@media screen and (max-width: 320px) {
  .ui-footer .left-box .btns .btn {
    width: 135px!important;
  }
}
